apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app-${STUDENT_ID}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: web
        image: nginx:1.16
        ports:
        - containerPort: 80
