apiVersion: apps/v1
kind: Deployment
metadata:
  name: karpov-av-bivt-22-5 #Задайте name со своими инициалами и группой. Example: karpov-av-bivt-22-5
spec:
  replicas: 3
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: web
        image: nginx:1.25
        ports:
        - containerPort: 80
